extends ../layout
block header
  include ../layout/navbar

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign Up for Blockchain Medical Records

        // login form
        form(method='POST' action='doctorRegister')
          div.form-group
            label(for='cardId') Card ID:
            input#cardId.form-control(type='text', placeholder='Card Id' name='cardId')

          div.form-group 
            label(for='firstName') First Name:
            input#firstName.form-control(type='text', placeholder='First name' name='firstName')

          div.form-group
            label(for='lastName') Last Name:
            input#lastName.form-control(type='text', placeholder='Last name' name='lastName')
            
          div.form-group 
            select(name="institution")
              option(value='Mayo Clinic') Mayo Clinic
              option(value='Johns Hopkins Hospital') Johns Hopkins Hospital
              option(value='Massachusetts General Hospital') Massachusetts General Hospital
              option(value='Yale New-Haven Hospital') Yale New-Haven Hospital
              option(value='University of Michigan Hospitals-Michigan Medicine') University of Michigan Hospitals-Michigan Medicine
              option(value='Cedars-Sinai Medical Center') Cedars-Sinai Medical Center
              option(value='Mount Sinai Hospital') Mount Sinai Hospital
              option(value='Memorial Sloan-Kettering Cancer Center') Memorial Sloan-Kettering Cancer Center
              option(value='UCSF Medical Center') UCSF Medical Center
              option(value='Stanford Hospital') Stanford Hospital
              option(value='Wills Eye Hospital, Thomas Jefferson University Hospital') Wills Eye Hospital, Thomas Jefferson University Hospital

          div.form-group 
          select(name="specialty")
            option(value='PRIMARY_CARE') Primary Care
            option(value='OBGYN') OBGYN
            option(value='ENDOCRINOLOGY') Endocrinology
            option(value='NEPHROLOGY') Nephrology
            option(value='SURGEON') Surgeon

          div.form-group 
            button.btn.btn-primary(type='submit') Sign Up