extends ../layout

block header
  include ../layout/navbar

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        ul
          each val in ['Michelle Wallace', 'Liam Spence', 'Drew Tucker', 'Mark Reddit', 'Louise Chuck']
            li= val

block footer
  include ../layout/navbar