extends ../layout

block header
  include ../layout/navbar

block content
  .main.container
    block content
    .main.container
        .row
        .col-md-6.col-md-offset-3
            h1.display-4.m-b-2 Update Patient Medication

            // update patient info
            form(method='POST' action='updateMedList')
              div.form-group
                  label(for='doctorId') Doctor ID:
                  input#doctorId.form-control(type='text', placeholder='Doctor ID' name='doctorId')

              div.form-group
                  label(for='patientId') Patient ID:
                  input#patientId.form-control(type='text', placeholder='Patient ID' name='patientId')
                  
              div.form-group
                  label(for='newMed') Medication:
                  input#newMed.form-control(type='text' name='newMed')

              button.btn.btn-primary(type='submit') Update Medication
