extend ../layout 

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // CSS
    style(type='text/css').
      /* Sticky footer styles
      -------------------------------------------------- */
      html,
      body {
      height: 100%;
      /* The html and body elements cannot have any padding or margin. */
      }
      /* Wrapper for page content to push down footer */
      #wrap {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      /* Negative indent footer by it's height */
      margin: 0 auto -60px;
      }
      /* Set the fixed height of the footer here */
      #push,
      #footer {
      height: 60px;
      }
      #footer {
      background-color: #f5f5f5;
      }
      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
      #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
      }
      }
      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */
      .container {
      width: auto;
      max-width: 680px;
      }
      .container .credit {
      margin: 20px 0;
      }

  body
    #wrap
      .container
        .page-header
          h1 Sticky footer
        p.lead
          | Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.
      #push
    #footer
      .container
        p.muted.credit Example courtesy
          a(href='http://martinbean.co.uk') Martin Bean
          | and
          a(href='http://ryanfait.com/sticky-footer/') Ryan Fait.
