extends ../layout 

block header 
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
            ul.nav.navbar-nav
                li
                    a(href="/") Product
                li
                    a(href="#") Features
                li
                    a(href="#") Contact Us
            ul.nav.navbar-nav.navbar-right
                .nav-collapse.collapse
                li
                    a(href="doctorRegister") Doctor Sign Up
                li
                    a(href="doctorLogin") Doctor Login
                li
                    a(href="patientRegister") Patient Sign Up
                li
                    a(href="patientLogin") Patient Login
