extends ../layout

block header
  include ../layout/navbar

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Login in to Blockchain Medical Records

        // login form
        form(method='POST' action='/patientLogin')
          div.form-group
            label(for='cardId') Card ID:
            input#cardId.form-control(type='text', placeholder='Card ID' name='cardId')
          div.form-group
            label(for='patientId') Patient ID:
            input#patientId.form-control(type='text' name='patientId')
          button.btn.btn-primary(type='submit') Sign In
