extends ../layout

block header
  include ../layout/navbar

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign Up for Blockchain Medical Records

        // login form
        form(method='POST' action='patientRegister')
          div.form-group
            label(for='cardId') Card ID:
            input#cardId.form-control(type='text', placeholder='Card Id' name='cardId')

          div.form-group
            label(for='firstName') First Name:
            input#firstName.form-control(type='text', placeholder='First name' name='firstName')

          div.form-group
            label(for='lastName') Last Name:
            input#lastName.form-control(type='text', placeholder='Last name' name='lastName')
            
          button.btn.btn-primary(type='submit') Sign Up