extends ../layout

block header
  include ../layout/navbar

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Welcome #{firstName} #{lastName}
        