extends layout

block header
  include layout/navbar

block content
    .container
      .row
        .jumbotron
          h1 Hello, world!
          p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
          p: button("primary", "more.htm", "large") Learn more
      .row
        .col-md-6.col-sm-4.col-xs-12
          .panel.panel-default
            .panel-heading Doctors
            .panel-body We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.
              p: button("primary", "more.htm", "large") Login
              p: button("primary", "more.htm", "large") Register

        .col-md-6.col-sm-4.col-xs-12
          .panel.panel-default
            .panel-heading Patient
            .panel-body We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.
              p: button("primary", "more.htm", "large") Login
              p: button("primary", "more.htm", "large") Register
